<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
        <Appenders>
        <File name="File" fileName="log.log">
            <ThresholdFilter level="warn"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level Class: %c{1}, Method: %M, Line: %L - %msg%n"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="debug"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level Class: %c{1}, Method: %M, Line: %L - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="by.task" level="debug">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>